<mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile><mat-card>Coluna 1 Linha 1</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 2 Linha 1</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 3 Linha 1</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 1 Linha 2</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 2 Linha 2</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 3 Linha 2</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 1 Linha 3</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 2 Linha 3</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Coluna 3 Linha 3</mat-card></mat-grid-tile>
</mat-grid-list>
