mat-card{
    margin: 10px;
}
tr{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    min-width: 350px;
}
td{
    display: flex;
}
tr:nth-child(){
   
}
.nome, .email{
    
}
.telefone{
    display: flex;
}
.cadastro{
    width: 60%;
    min-width: 150px;
}
.center{
    min-width: 100px;
    
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}