<mat-card class="cadastro">
    <h2>Cadastro</h2>
    <table class="center" cellspacing="0">
        <tr >
            <td>
                <mat-form-field class="nome">
                    <mat-label>Nome</mat-label>
                    <input matInput type="name">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="email">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="telefone">
                    <mat-label>Telefone</mat-label>
                    <span matPrefix>+55 &nbsp;</span>
                    <input matInput type="tel">
                </mat-form-field>
            </td>
        </tr>
    </table>
</mat-card>
