mat-card{
    margin: 20px;
}
mat-card:hover{
    -webkit-animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: borda;
}
@-webkit-keyframes borda{
    0%{
        margin: 20px;
        border: 0px solid black;
    }
    100%{
        border-radius: 15px;
        border: 2px solid black;
        margin: 18px;
    }
}
tr{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    min-width: 350px;
}
td{
    display: flex;
}
.telefone{
    display: flex;
}
.cadastro{
    width: 60%;
    min-width: 150px;
    border-radius: 3px;
    box-shadow:0px 0px 5px 1px rgb(0, 0, 0);
}
.center{
    min-width: 100px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}