<section>
    <div class="topnav">
        <button mat-button onclick="home()" href="#home">Home</button>
        <button mat-button onclick="conteudos()" href="#conteudos">Conteúdos</button>
        <button mat-button onclick="contatos()" href="#contatos">Contatos</button>
        <button mat-button onclick="sobre()" href="#contatos">Sobre</button>	
    </div>
    <!--<mat-progress-bar
        style="position: fixed; 
        box-shadow: 0px 2px 5px black;
        margin-top: -2px;" 
        mode="determinate" value="50">
    </mat-progress-bar>-->
</section>


