div, span, span1{
    font-family: arial, sans-serif;
}
.topnav{
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    top:0px;
    left:0px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
button{
    padding: 10px;
    color: white;
}
button:hover{
    background-color: #00cc25;
    color: white;
}

