<section>
    <div class="topnav">
        <!--Angular material icon... terminar de implementar-->
        <mat-icon aria-hidden="false" aria-label="Example home icon">Cadastro</mat-icon>
        <mat-icon class="mat-icon-rtl-mirror" svgIcon=".imagens/arquivos-e-pastas.svg"></mat-icon>
        <button mat-button onclick="home()" href="#home">Home</button>
        <button mat-button onclick="conteudos()" href="#conteudos">Conteúdos</button>
        <button mat-button onclick="cadastro()" href="#cadastro">Cadastro</button>
        <button mat-button onclick="sobre()" href="#contatos">Sobre</button>	
    </div>
    <!--<mat-progress-bar
        style="position: fixed; 
        box-shadow: 0px 2px 5px black;
        margin-top: -2px;" 
        mode="determinate" value="50">
    </mat-progress-bar>-->
</section>


