<div>
  <div class="menu">
    <app-toolbar>Loading...</app-toolbar>
  </div>
  <app-header>Loadiny Apg...</app-header>
  
  <app-cadastro></app-cadastro>
  
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile><mat-card>Meu primeiro cartão</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Meu primeiro cartão</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Meu primeiro cartão</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Meu primeiro cartão</mat-card></mat-grid-tile>
  </mat-grid-list>

  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

</div>

<router-outlet></router-outlet>