.header{
    background-color: #00cc25;
    color: white;
    margin-top: 45px;
    padding-top: 20px;
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.9);
}
.titleheader{
    text-align: center;
    padding: 10px;
}